<ion-app>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="wifi-outline" color="success" *ngIf="currentNetworkStatus"></ion-icon>
        <ion-label *ngIf="currentNetworkStatus">Online<span *ngIf="networkConnectionWifi"> / WiFi</span>
          <span *ngIf="!networkConnectionWifi"> / Mobile</span></ion-label>
        <ion-icon slot="start" name="wifi-outline" color="danger" *ngIf="!currentNetworkStatus"></ion-icon>
        <ion-label *ngIf="!currentNetworkStatus">Offline</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>
